.sign-up {
  padding: 50px 200px;
}

.bg-sign-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #0000 !important;
}

.sign-up-content .header-form .row{
  flex-direction: column;
}

.bg-form {
  background: rgba(71, 71, 71, 0.15); /* طبقة شفافة */
  backdrop-filter: blur(6px); /* 💎 البلور الحقيقي */
  box-shadow: 0 0 10px 0 var(--secondColor) !important;
  color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up form label {
  font-size: 0.9rem;
  font-family: "Almarai-Bold";
  color: white;
}

.form-control {
  background-color: transparent !important;
  box-shadow: 0 0 0 1px var(--secondColor) !important;
  color: var(--secondColor) !important;
  border:solid 1px  var(--secondColor);
}

.form-control:focus {
  box-shadow: 0 0 0 1px #ffffffc7 !important;
}

.form-control::placeholder {
  color: #c4c4c4 !important;
}

.form-check-input {
  background-color: transparent;
}

.form-check-input:focus {
  box-shadow: 0 0 0 1px #ffffff !important;
  border: none;
}

.form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.btn-sign-up {
  color: #000000 !important;
  background-color: var(--secondColor) !important;
  font-family: "Almarai-Bold";
  width: 100%;
  height: 40px;
}
.not-active{
  background-color: var(--secondColorDark) !important;
    color: var(--secondColor) !important;
    font-weight: bold;
    border: solid 2px var(--secondColor);
}

.btn-sign-up:hover {
  box-shadow: 0 0 0 2px #ffffff !important;
  color: #ffffff !important;
  background-color:var(--mainColor) !important;
}

.btn-search {
  background-color: var(--secondColor)!important;
  color: #000000 !important;
  font-family: "Almarai-Bold";
}
.btn-search:hover {
  color: white !important;
  background-color: #f7ba49 !important;
}
.alert-input {
  height: 10px;
  font-size: 0.7rem;
  padding: 10px 10px;
  font-family: "Almarai-Bold";
}

.img-sign-in {
  height: 400px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px 0;
}

.header-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.div-in{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media (max-width: 1600px) {
  .sign-up {
    position: relative;
  }
  .sign-up {
  padding: 30px 200px;
}

}


@media (max-width: 1024px) {
  .sign-up {
    position: relative;
  }
  .sign-up {
  padding: 30px 10px;
}
.bg-sign-up {
  height: 100% !important;
}
}
@media (max-width: 400px) {
.sponser{
  flex-wrap: wrap;
}
}

