

.select-piont {
    background-color: transparent !important;
    color: var(--secondColorDark);
    box-shadow: none;
    border-color:var(--secondColorLight);
    /* accent-color: #ffffff; */
}

.select-piont:focus {
    box-shadow: none;
    border-color:var(--mainColor);
}

.show-code {
    height: 45px;
}
.code{
    color: var(--secondColorDark);
}

.show-history-piont th {
    background-color: var(--mainColor-2);
    color: #000000;
    font-family: 'Almarai-Bold';
}
.paid-btn{
    background-color: var(--secondColorDark) !important;
    color: var(--secondColor);
    width: 90px;
}
select option {
    display: block;
    background-color: #000000;
    color: #ffffff;
}

.show-tokens .nav-link {
    font-family: 'Almarai-Bold';
    border: 0;
}

.show-tokens .nav-link.active {
    background-color: transparent;
    border-bottom: 3px solid var(--mainColor);
}