
.main-dashboard .box {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 10px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.11), 
        0 0px 0px rgba(0,0,0,0.11),      
        0 0px 0px rgba(0,0,0,0.11),     
         0 7px 10px rgba(0, 0, 0, 0.466),    
           0 0px 0px rgba(0,0,0,0.11);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.member-info {
    min-height: max-content;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 15px 0 #000000;
}


