
.main-dashboard .box {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 10px;
    

}

.member-info {
    min-height: max-content;
    background-color: #ffffff;
    padding: 20px 30px;


}

