
.box {
    width: clamp(100px,50vw,350px);
    /* height: clamp(100px,25vh,350px); */
    height:450px;
    position: relative;
}

.bg-world {
    position: absolute;
    width: clamp(100px,50vw,380px);
    height: 350px;
    top: 48%;
    left: 45%;
    background-image: url('../../assets/images/world.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: -1;
}

.lapHome {
    position: relative;
    display: block;
    width: 300px;
    /* height: 185px; */
    margin: 20px 0 0 0;
}

.boyHome {
    position: relative;
    display: block;
    width: 400px;
    /*height: 438px;
    */
    /* animation: ts-bounce 4s ease-in-out infinite;
    -webkit-animation: ts-bounce 2s ease-in-out infinite; */
}

.boyHome2 {
    position: relative;
    display: block;
    width: 600px;
    /*height: 426px;
    */
    /* animation: ts-bounce 2s ease-in-out infinite;
    -webkit-animation: ts-bounce 2s ease-in-out infinite; */
}

.mobHome {
    position: relative;
    display: block;
    width: 250px;
    margin: 50px 30px 0 0;
    /* height: 185px; */
}

@keyframes ts-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3rem);
        -webkit-transform: translateY(3rem);
        -moz-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        -o-transform: translateY(3rem);
}

    100% {
        transform: translateY(0);
    }
}

.ts-bounce {
    animation-name: ts-bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

/* Scale */

@keyframes ts-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
}

    100% {
        transform: scale(1);
    }
}

.ts-scale {
    animation-name: ts-scale;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

/* Zezag  */
@keyframes ts-zezag {
    0% {
       left: 0;
    }

    25% {
        left: 10px;
 }

    50% {
       left: 5px;
}

    100% {
        left: 0;
    }
}

.ts-zezag {
    position: relative;
    animation-name: ts-zezag;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}


@media (max-width: 992px) {
    .box {
        width: 280px;
        height: 280px;
        position: relative;
    }

        
    .bg-world {
        width: 250x;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .box {
        width: 280px;
        height: 280px;
        position: relative;
    }

        
    .bg-world {
        width: 250x;
        height: 250px;
    }

}